---
network:
  version: 2
  renderer: networkd
  ethernets:
    eth1:
      dhcp4: false
      dhcp6: true
      optional: true
  vlans:
    vlan{{ vlan_id }}:
      id: {{ vlan_id }}
      link: eth1
      dhcp4: no
      addresses:
      - {{ vlan_ip }}/24